{{ define "main" }}
  <div class="flex items-center flex-column pv6 ph4 ph6-ns w-100">
    <div class="flex flex-column items-center w-100 mw7">
      <h1 class="f2 normal ma0 lh-title w-100 pb4">Hej Søren,</h1>
      <h1 class="f2 normal ma0 lh-title w-100 pb6 black-60">Herunder kan du se udvalgte projekter samt mit CV længere nede.</h1>
    </div>
    <div class="mw7 flex flex-column w-100">
      <div class="pb5">
        <div class="flex items-center pb3">
          <img src="/img/briefcase.svg" />
          <h2 class="f3 normal ml3">Projects</h2>
        </div>
        {{ range $i, $element := where .Site.Pages "Section" "projects" }}
          
            <a href="{{ .URL }}" class="flex w-100 link black-80 dim pt3 pb3 pv4 bb b--black-10 {{ if eq $i 0}}bt{{ end }}">
              <div class="content w-90">
                <h3 class="f3 fw6 mt0">
                  {{.Title}}
                </h3>
                <p class="lh-title mb0 f5 black-60">
                  {{.Description}}
                </p>
              </div>
              <img class="ml-auto mr2" src="/img/arrow-right.svg" />
            </a>

        {{ end }}
      </div>
      <div>
        <div class="flex flex-column pb3">
          <div class="flex items-center bb b--black-10 pb3 mb4">
            <img src="/img/clipboard.svg" />
            <h2 class="f3 normal ml3">CV</h2>
          </div>
          {{ range where .Site.Pages "Section" "cv" }}
          <div class="flex pv3 mb5">
            <div class="w-20 mr4 mt0">
              <p class="f6 black-60 fw6 mt0">
                {{.Params.Period}}
              </p>
              <p class="inline-flex f7 fw6 ph3 ma0 pv1 br2 br-pill bg-black-10 ">{{.Params.Company}}</p>
            </div>
            <div class="w-80">
              <div class="flex items-center">
                <h3 class="f4 fw6 ma0 mr3">{{.Title}}</h3>
              </div>
              <p class="f6 lh-copy black-60 mb4">{{.Description}}</p>
              <p class="f6 fw6 ma0 mr1 br2 black-50">Værktøjer og metoder:</p>
              <p class="inline-flex f6 fw6 ma0 mr1 mb2 br2 black-50">prototyping &#149; agile &#149; axure &#149; material design &#149; design system</p>
            </div>
          </div>
          {{ end }}
      </div>
    </div>
  </div>
{{ end }}