{{ define "main" }}
  <div class="flex items-center flex-column pa6 w-100">
    <div class="flex flex-column items-center">
      <h1 class="f2 pb5 lh-title">Interactive designer & developer<br>from Aarhus, Denmark.</h1>
      <div class="self-start w-100">
        <h2 class="f3 normal pb3">Projects</h2>
        {{ range $i, $element := .Data.Pages }}
          
            <article class="flex dim pt3 pb3 pv4 bb b--black-10 {{ if eq $i 0}}bt{{ end }}">
              <div class="content">
                <h3 class="f3 mt0">
                  {{.Title}}
                </h3>
                <p class="mb0">
                  {{.Summary}}
                </p>
              </div>
              <img class="ml-auto" src="img/chevron-right.svg" />
            </article>

        {{ end }}
      </div>
    </div>
  </div>
{{ end }}